:root { 
--indigo_900_7f:#081f027f; 
--white_A700_b2:#ffffffb2; 
--red_700:#d13329; 
--blue_A700:#27c449; 
--green_600:#ff0062; 
--gray_300_cc:#e6e3e7cc; 
--gray_105:#f2f3f7; 
--gray_103:#f3f3f5; 
--gray_104:#eff3f9; 
--gray_900:#0a0f21; 
--gray_101:#f3f4f5; 
--gray_300:#e3e4e8; 
--gray_102:#f4f4f6; 
--gray_100:#ffffff; 
--indigo_300:#9fcc4d; 
--bluegray_900:#0f3806a6; 
--bluegray_801:#153d0bb4; 
--bluegray_800:#25460b; 
--indigo_301:#7bdb5e; 
--indigo_100:#bfe68c; 
--bluegray_600:#468b46; 
--indigo_200:#25d861; 
--indigo_101:#b3bfe4; 
--bluegray_400:#9cc242; 
--white_A700_26:#ffffff26; 
--indigo_900:#1f3004; 
--black_900_19:#00000019; 
--indigo_700:#1b3304; 
--indigo_601:#225306; 
--white_A700:#ffffff; 
--indigo_500:#225306; 
--indigo_600:#1b3304; 
}